<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %5p [%c] %m%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="java.sql" level="OFF" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="egovframework" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="org.egovframe" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="org.springframework" level="WARN" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="jdbc.sqlonly" level="OFF" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="jdbc.sqltiming" level="INFO" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="jdbc.audit" level="OFF" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="jdbc.resultset" level="OFF" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="jdbc.resultsettable" level="INFO" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="jdbc.connection" level="OFF" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>

        <!-- SQL Logger -->
        <Logger name="log4jdbc.log4j2" level="WARN" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>

        <Root level="INFO">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>